.header-container {
    display: flex;
    padding: 20px;
    align-items: center;
    width: 100%;
}

.header-container img {
    width: 64px;
    height: 72px;
    left: 0;
    margin-right: 20px;
}